/* Document Level Styles */

/*
  The imports below are needed to include our light dom css for global styles such as fonts and colors.
  You can comment out any of these imports if you do not need that css. For example, if you have your own
  global font family css then you can comment out the typography.css import.
*/

/** Core CSS required for ionic components to work property */
@import '~@ionic/core/css/core.css';

/** Basic CSS for apps built with Ionic */
@import '~@ionic/core/css/normalize.css';
/* @import '~@ionic/core/css/structure.css'; */
@import '~@ionic/core/css/typography.css';

/** Optional CSS utils that can be commented out */
@import '~@ionic/core/css/padding.css';
@import '~@ionic/core/css/float-elements.css';
@import '~@ionic/core/css/text-alignment.css';
@import '~@ionic/core/css/text-transformation.css';
@import '~@ionic/core/css/flex-utils.css';
@import '~@sparkle-learning/core/dist/sparkle-core/sparkle-core.css';

/*
  The CSS Variables below can be used to theme your app.
  For more info on CSS variables check out:
  https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables

  More info about color theming using Ionic:
  https://ionicframework.com/docs/theming/color-generator
*/
:root {
  --ion-color-white: #fff;
  --text-color--light: #24282e;
}
ion-app {
  background-image: url(/assets/img/gi-background.jpg);
  background-attachment: fixed;
  background-size: cover;
}

sparkle-nav .module-list > li {
  background-color: transparent;
  text-transform: uppercase;
  outline: 0;
  background-image: linear-gradient(to right, #b3b3b3 50%, rgba(255, 255, 255, 0) 0);
  background-position: bottom;
  background-size: 4px 2px;
  background-repeat: repeat-x;
  border-bottom: none;
  padding: 10px 0px 10px 0px;
}
sparkle-nav .module-list > li a {
  padding-left: 14px;
  padding-right: 14px;
}

sparkle-nav .module-list .link-active a {
  color: var(--ion-color-white);
}

sparkle-nav ul.module-list li span.coming-soon {
  margin-left: 14px;
}

sparkle-nav ul.session-list li a {
  padding: 15px 24px 15px 30px;
}

sparkle-nav ul.session-list > li:hover {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-white);
}
sparkle-nav ul.session-list > li:hover a {
  color: var(--ion-color-white) !important;
}

sparkle-nav ul.session-list > li.active {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-white);
}

sparkle-nav ul.session-list li:hover stencil-route-link a:before,
sparkle-nav ul.session-list li:hover stencil-route-link a:after,
sparkle-nav ul.session-list li.active stencil-route-link a:before,
sparkle-nav ul.session-list li.active stencil-route-link a:after {
  background: var(--ion-color-white);
}

sparkle-nav ul.session-list li stencil-route-link a:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff !important;
  border-radius: 10px;
  border: 4px solid #ff5050;
  z-index: 10;
}
sparkle-nav ul.session-list li stencil-route-link a:after {
  background: #505050 !important;
  left: 9px;
  width: 3px;
}

/* sparkle-page {
  background-color: rgba(245, 245, 245, 0.5);
} */
/* sparkle-page section {
  margin-bottom: 50px;
} */
/* sparkle-page-footer {
  position: fixed;
  width: inherit;
  background: #fff;
  max-width: inherit;
  box-shadow: 0px 0.175em 0.5em rgb(2 8 20 / 10%), 0px 0.085em 0.175em rgb(2 8 20 / 8%);
}
 */
sparkle-pagination {
  padding: 0px !important;
}
sparkle-pagination stencil-route-link.previous a {
  padding: 10px 0px 10px 1.5em;
  padding-left: 30px;
}
sparkle-pagination stencil-route-link.next a {
  padding: 10px 0px 10px 1.5em;
  padding-right: 30px;
}
sparkle-page-footer {
  position: fixed;
  left: var(--menu-width);
  bottom: 0;
  background-color: white;
  color: white;
  text-align: center;
  width: calc(100% - var(--menu-width));
  z-index: 9999;
}
sparkle-character-intro {
  --sparkle-character-background-color: #ffffff;
  line-height: 18px;
    font-size: 18px;
}
sparkle-character-intro.shift-up-overlap .character-phrase-block {
  margin-top: 0px !important;
}

sparkle-character-intro .character-phrase-block{
  align-items: flex-start;
}
sparkle-character-intro .character-image-block{
  margin-top: -50px;
}

main > article ol, main > article ul {
  padding-left: 0px;
  line-height: 44px;
  font-weight: 500;
}
main > article ul > li, main > article ol > li{
 font-size: 18px;
 line-height: 24px;
 padding: 10px;
 position: relative;
 padding: 8px 0 8px 10px;
 margin-left: 30px;
}

main > article ul > li {
  list-style: none;
  padding: 8px 0 8px 40px;
}

main > article ul > li:nth-child(odd), main > article ol > li:nth-child(odd){
background-color: #fff;
}
main > article ol > li::marker {
  color: var(--ion-color-primary);
}
main > article ul > li:before{
     background: transparent url('/assets/img/_ionicons_svg_md-checkmark-circle-outline.svg') scroll 0 0 no-repeat;
     content: "";
     width: 24px;
     height: 24px;
     position: absolute;
     left:10px;
     top:8px;
}

main > article {
  background-color: rgba(245,245,245,.5);
  padding: 10px;
}
main > article h1, main > article h2, main > article h3 {
  color: var(--ion-color-primary);
}
main > article h2 {
  font-size: 22px;
}
main > article h3 {
  font-size: 18px;
}
.question-text, .question-container > label {
  color: var(--ion-color-primary);
  font-weight: bold;
}

video {
  object-fit: fill;
  width: 100%;
}
